body {
  background-color: white !important;
  color: #111111 !important;
}

.bd-sidebar {
  background-color: #f8f8f8 !important;
}

a {
  color: #0b5ed7;
}

h1, h2, h3 {
  color: #111111;
}

.bd-content {
  background-color: white;
}

.bd-main {
  background-color: white;
}
