body {
    background-color: #ffffff;
    color: #111111;
}

.bd-sidebar {
    background-color: #f5f5f5;
}

.bd-main {
    background-color: #ffffff;
}
a {
    color: #1f77ff !important;
}

a:hover {
    color: #0a58ca !important;
}
